 @charset "utf-8";
/*
	Author: Noor Zena;
	Id: 60105071;
*/ 
/*index*/
body{
    margin-top:10px ;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
  }
header{
    grid-column: 1/span 4;
}
nav ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
nav{
    grid-column: 1/span 4;
    grid-row: 2/3;
}
#intro{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }


#intro p{
    text-align: justify;
    padding: auto;
}

.left2 h1 , .left3 h1{
    padding-top: 10px;
}


#main{
    grid-column: 2/5;
    margin: auto;
    padding-top: 23px;
    padding-bottom: 5px;
}

.right1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.right1 img{
    width: 100px;
}

.right1 p{
    text-align: center;
}

.names{
    text-align: center;
}

.images{
    width: 100%;
    margin-left: 5px;
}
.right2{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
}

.right2 h1{
    grid-column: 1/-1;
}

.right2 img{
    margin-top: 10px;
    margin: auto;
    width: 350px;
}

.right2 q{
    grid-row: 3/4;
    text-align: center;
    margin-top: 10px;
}

footer{
    grid-column: 1/span 4;
    grid-row: 5/6;
}

#main h1{
  grid-column: 1 / span 5;
  text-align: center;
}
/*-------------------------------------------------------*/
/*products*/

#mainproduct{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5%
}
.table{
    grid-column: 4/5;
}
article > div > img{
    width: 100%;
    padding-bottom: 10px;
}

/*-------------------------------------------------------*/
/*contact*/

.contact{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact h1{
    grid-column: 1 / -1;
}

.maps h1{
    margin: 10px;
}

.contactsocial h1{
    margin: 10px;
}

.contactsocial img{
    width: 450px;
}

/*-------------------------------------------------------*/
/*subscribe*/

form{
    grid-column: 2/span 2;
    width: 100%;
    padding: 20px;
}
